<html>
<head>
    <title>RAGnarok</title>
    <link rel="stylesheet" href="..\static\styles.css">
</head>
<body>
    <br>
    <center><h1>RAGnarok</h1></center>
    <center><h4>
        Chat with your documents. Retrieve the knowledge. Survive the context window.
        
        Upload your documents, ask questions, and let RAGnarok find the relevant information before generating an answer.</h4></center>
    <br><br><br><br>
    <center><button>Upload Document</button></center><br><br><br>
    <center><textarea rows="10", cols="50", placeholder="Type your question here...""></textarea><br><br><button>Ask</button></center>        
</body>
</html>